.primary-nav {
    padding-top: 10px;

    @mixin tablet {
        padding-top: 0px;
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clear-fix;
    }

    li {
        position: relative;
        list-style: none;
        display: inline-block;
        padding-right: 7px;

        @mixin tablet {
            float: left;
            display: block;
            padding-right: 20px;
        }

        &:last-child {
            padding-right: 0;

            @mixin tablet {
                padding-right: 20px;
            }
        }

        a {
            float: left;
            color: white;
            text-decoration: none;
            font-weight: 300;
            padding: 5px 8px;
            background-color: rgba($mainBlue, .5);

            @mixin tablet {
                font-size: 1rem;
                padding: 12px 0;
                background-color: transparent;
            }
        }
    }

    &--right {

        @mixin tablet {
            float: right;
        }
    }
}
